*{
    margin: 0px;
    font-family: 'Kreon', serif;
}

.arrow {
    margin: 2rem;
    font-size: 30px;
}

.arrow a {
    color: black;
}



.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section{
    align-content: center;
    margin-top: 70px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 200px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 30px 30px;
    width: 700px;
    height: 400px;
    box-shadow: 2px 4px 8px 2px rgba(6, 6, 6, 0.2), 3px 6px 20px 3px rgba(0, 0, 0, 0.19);
}

section h2 {
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-left: 0px;
}

.form {
    margin-left: 100px;
}

.avatar img {
    margin-top: 50px;
}

.name{
    font-weight: 200px;
    font-size: 20px;
}

.age{
    font-weight: 200px;
    font-size: 20px;
    position: relative;
    top: 12px;
}

.add{
    font-weight: 200px;
    font-size: 20px;
    position: relative;
    top: 20px;
}

.des{
    font-weight: 200px;
    font-size: 20px;
    position: relative;
    top: 40px;
}

.no{
    font-weight: 200px;
    font-size: 20px;
    position: relative;
    top: 15px;
}

.mail{
    font-weight: 200px;
    font-size: 20px;
    position: relative;
    top: 20px;
}

input[type="email"]{
    border: none;
    height: 30px;
    width: 225px;
    font-size: 20px;
    position: relative;
    left: 100px;
    outline: none;
    background-color: white;
}

input[type="text"]{
    height: 30px;
    width: 200px;
    border: none;
    font-size: 20px;
    position: relative;
    left: 130px;
    background-color: white;
}

input[type="number"]{
    height: 30px;
    width: 200px;
    border: none;
    font-size: 20px;
    position: relative;
    left: 47px;
    outline: none;
    background-color: white;
}

input[id="age"]{
    height: 30px;
    width: 200px;
    font-size: 20px;
    border: none;
    position: relative;
    left: 147px;
    outline: none;
}


input[id="address"]{
    height: 70px;
    width: 218px;
    border: none;
    border-radius: 3px;
    position: relative;
    left: 20px;
    outline: none;
    font-size: 17px;

}

input[id="des"]{
    height: 30px;
    width: 218px;
    border: none;
    border-radius: 3px;
    position: relative;
    left: 40px;
    outline: none;
    font-size: 17px;
}


textarea{
    height: 35px;
    width: 200px;
    background-color: white;
    font-size: 20px;
    position: relative;
    left: 20px;
    border: none;
    top: 12px;
    outline: none;
    resize: none;
}

.c1{
    margin-left: 165px;   
}


.btn-1{
    font-size: 18px;
    position: relative;
    left: 350px;
    top: 70px;
    align-content: space-between;
    border-radius: 5px;
    border: 1px solid purple;
    color: white;
    background-color: purple;
    height: 35px;
    width: 100px;
    cursor: pointer;
}

.btn-1 a{
    text-decoration: none;
    color: white;
}

.btn-2{
    font-size: 18px;
    position: relative;
    left: 300px;
    top: 70px;
    align-content: space-between;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: gray;
    height: 35px;
    width: 150px;
    cursor: pointer;
}

.btn-3{
    font-size: 18px;
    position: relative;
    left: 250px;
    top: 70px;
    align-content: space-between;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: gray;
    height: 35px;
    width: 100px;
    cursor: pointer;
}

.menu{
    display: none;
}
